<header class="header" id="inicio">
    <div class="primeraParte">
        <div class="contenedor head" id="parametrización2">
            
            <h1 class="lakennedy">Carpooling</h1>
            <h1 class="titulo">La mejor manera de llegar a tu destino de una forma comoda y segura.</h1>
            <p class="copy">Este proyecto pretende reducir la congestión de tránsito en las grandes ciudades así como facilitar los desplazamientos de los estudiantes de la Universidad Politécnica Salesiana, sera principalmente para los estudiantes que no dispongan de coche propio. Además, supone una notable disminución de emisiones de CO2, al reducir el número de coches en las carreteras. 
                A su vez, favorece las relaciones sociales entre personas que realizan los mismos recorridos.</p>
            
        </div>
    </div>
</header>
<br>
<br>
<app-footer></app-footer>

